
mod/__pycache__/leerweb.cpython-37.pyc
exec.bat
datos/registro.txt
_m_token.py
comandos/__pycache__/m_almuerzo.cpython-37.pyc
comandos/__pycache__/m_batido.cpython-37.pyc
comandos/__pycache__/m_kyu.cpython-37.pyc
m_token.py
