
mod/__pycache__/leerweb.cpython-37.pyc
exec.bat
datos/registro.txt
_m_token.py
comandos/__pycache__/m_almuerzo.cpython-37.pyc
comandos/__pycache__/m_batido.cpython-37.pyc
comandos/__pycache__/m_kyu.cpython-37.pyc
m_token.py
__pycache__/*

lambda/__pycache__/*
lambda/beautifulsoup*
lambda/bin/*
lambda/bs4*
lambda/certifi*
lambda/chardet*
lambda/idna*
lambda/pyTelegram*
lambda/requests*
lambda/soupsieve*
lambda/telebot*
lambda/urllib3*

lambda/lambda.zip
